
<div class="col-sm-6 col-sm-offset-3">
    <h4><span class="fa fa-sign-in"></span>Populate 200 tokens to db</h4>

    <form action="/post" method="post">
        <button type="submit" class="btn btn-warning btn-lg">Populate tokens</button>
    </form>
    <hr>
</div>

<%- contentFor('title') %>
<%= title %>